<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Resumo</h4>
          <p class="text-muted">Desafio para a vaga de desenvolvedor júnior</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Arthur Passos</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.github.com/arthurpss" class="text-white">Github</a></li>
            <li><a href="https://www.linkedin.com/in/arthurpcorrea" class="text-white">Linkedin</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <img src="https://img.icons8.com/color/60/000000/angularjs.png" />
        <img src="https://img.icons8.com/nolan/64/java-coffee-cup-logo.png" />
        <img src="https://img.icons8.com/color/60/000000/spring-logo.png" />
        <strong>Desafio INDT</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
        aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>